body {
    max-width: 400px;
}

#header {
    background: -webkit-linear-gradient(#f00, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.troop-input-wrapper {
    display: flex;
    font-size: 2em;
}

.trop-input-container {
    display: flex;
}

.troop-input {
    width: 4ch;
    font-size: 1em;
}

#go-button {
    margin-left: auto;
    font-weight: bold;
    font-size: 0.8em;
}
